.container {
  max-width: $width-desktop;
  margin: 0 auto;
  padding: 0 $offset-desktop;

  &--big {
    max-width: 1480px;
  }
}

@include to($breakpoint-desktop) {
  .container {
    padding: 0 $offset-tablet;
  }
}

@include to($breakpoint-tablet) {
  .container {
    padding: 0 $offset-mobile;
  }
}
