.button {
  display: inline-block;
  padding: 14px 24px;

  color: $accent;
  font-family: $font-family-title;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  vertical-align: top;

  background-color: transparent;
  border: 1px solid $accent;
  border-radius: $radius;

  cursor: pointer;

  transition: $transition;

  &:hover,
  &:focus {
    color: $white;

    background-color: $accent;
    border-color: $accent;
  }
}

.button--white {
  color: $white;

  border: 1px solid $white;

  &:hover,
  &:focus {
    color: $white;

    background-color: $accent;
    border-color: $accent;
  }
}

.button--fill {
  color: $white;

  background-color: $accent;
  border: none;

  &:hover,
  &:focus {
    color: $white;

    background-color: lighten($accent, 10%);
  }
}
