.logo {
  display: block;
  width: 202px;
  height: 52px;

  &--footer {
    width: 215px;
  }
}

.logo img {
  width: 100%;
  height: 100%;
}

@include to($breakpoint-tablet) {
  .logo {
    width: 38px;
    height: 38px;

    &--footer {
      width: 215px;
      height: 52px;
    }
  }
}

.social svg {
  fill: $black;
}

@include to($breakpoint-mobile) {

}
