.title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.4;
}

@include to($breakpoint-desktop) {
  .title {
    font-size: 32px;
  }
}

@include to($breakpoint-tablet) {
  .title {
    font-size: 28px;
  }
}
