.page-feedback {
  position: relative;

  padding: 93px 0 112px;

  color: $white;

  background-color: $accent;

  &::before {
    position: absolute;
    right: 0;
    top: 38px;

    width: 350px;
    height: 582px;

    background: url("../img/triangles-2.svg") no-repeat;
    background-size: 350px auto;

    content: "";
  }
}

.page-feedback__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.page-feedback__img {
  position: absolute;
  top: 68px;
  left: 12px;

  &::before {
    position: absolute;
    top: -67px;
    left: -173px;


    width: 635px;
    height: 637px;

    background: url("../img/triangles.svg") no-repeat;
    background-size: 630px auto;

    content: "";
  }
}

.page-feedback__img img {
  position: relative;
}

.page-feedback__content {
  width: 49%;
}

.page-feedback__title {
  margin: 0 0 7px;
}

.page-feedback__desc {
  margin-bottom: 51px;
  margin-left: 5px;
}

.page-feedback__desc p {
  margin: 0;

  @include desc-p(15);
}

.page-feedback__form {
  margin-left: 5px;
}

.page-feedback__form input[type="text"],
.page-feedback__form input[type="tel"] {
  width: 47.5%;
  margin-bottom: 40px;
}

.page-feedback__form input[type="text"] {
  margin-right: 5%;
}

.page-feedback__form textarea {
  margin-bottom: 45px;
}

.page-feedback__form button {
  width: auto;
  margin: 0 7% 0 0;
}

.page-feedback__form p label {
  width: 40%;
}

@include to($breakpoint-desktop) {
  .page-feedback {
    padding: 78px 0 103px;

    &::before {
      display: none;
    }
  }

  .page-feedback__img {
    display: none;
  }

  .page-feedback__content {
    width: 100%;
    padding-left: 63px;
  }

  .page-feedback__title {
    margin-bottom: 17px;
  }

  .page-feedback__desc {
    margin-bottom: 54px;
  }

  .page-feedback__form {
    width: 90%;
  }

  .page-feedback__form input[type="text"],
  .page-feedback__form input[type="tel"] {
    width: 47%;
    margin-bottom: 44px;
  }

  .page-feedback__form input[type="text"] {
    margin-right: 6%;
  }

  .page-feedback__form textarea {
    margin-bottom: 46px;
  }

  .page-feedback__form button {
    margin-right: 40px;
  }
}

@include to($breakpoint-tablet) {
  .page-feedback {
    padding: 30px 0 46px;
  }

  .page-feedback__content {
    padding: 0;
  }

  .page-feedback__title {
    margin-bottom: 14px;
  }

  .page-feedback__desc {
    margin: 0 0 26px;
  }

  .page-feedback__form {
    width: 100%;
    margin: 0;
  }

  .page-feedback__form input[type="text"],
  .page-feedback__form input[type="tel"],
  .page-feedback__form button {
    width: 100%;
    margin: 0 0 31px;
  }

  .page-feedback__form textarea {
    margin-bottom: 27px;
  }

  .page-feedback__form p label {
    width: 100%;
  }
}
