.page-about {
  margin: 73px 0 110px;
}

.page-about__wrapp {
  position: relative;

  padding-left: 182px;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;

    width: 115px;
    height: 305px;

    background: url("../img/desktop/year-desktop@1x.webp") no-repeat;

    content: "";
  }

  @include retina {
    &::before {
      background-image: url("../img/desktop/year-desktop@2x.webp");
      background-size: 115px 305px;
    }
  }
}

.page-about__title {
  margin: 0 0 23px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.4;
}

.page-about__desc {
  margin-bottom: 46px;

  font-size: 16px;
  line-height: 1.3;
}

.page-about__desc p {
  margin: 0;

  & + * {
    margin-top: 24px;
  }
}

.page-about__more {
  padding: 14px 49px;
}

@include to($breakpoint-desktop) {
  .page-about {
    margin: 24px 0 83px;
  }

  .page-about__wrapp {
    padding-left: 186px;

    &::before {
      top: 8px;
      left: -4px;

      width: 131px;
      height: 347px;

      background-image: url("../img/tablet/year-tablet@1x.webp");
    }

    @include retina {
      &::before {
        background-image: url("../img/tablet/year-tablet@2x.webp");
        background-size: 131px 347px;
      }
    }
  }

  .page-about__title {
    margin-bottom: 27px;

    font-size: 32px;
  }

  .page-about__desc {
    position: relative;

    max-height: 192px;
    overflow: hidden;
    margin-bottom: 44px;
  }

  .page-about__desc p + * {
    margin-top: 28px;
  }
}

@include to($breakpoint-tablet) {
  .page-about {
    margin: 27px 0 65px;
  }

  .page-about__wrapp {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .page-about__title {
    margin-bottom: 23px;

    font-size: 28px;
  }

  .page-about__desc {
    max-height: 335px;
    margin-bottom: 40px;

    line-height: 1.37;
  }

  .page-about__desc p + * {
    margin-top: 45px;
  }
}
