.page-footer {
  color: rgba($black, 0.5);
  font-size: 15px;
}

.page-footer__top {
  padding: 65px 0 58px;

  border-bottom: 1px solid rgba(#626962, 0.2);
}

.page-footer__top-container {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__top-left {
  width: 20%;
}

.page-footer__top-right {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
}

.page-footer__logo {
  margin-bottom: 53px;
}

.page-footer__widget {
  width: 50%;

  font-style: normal;

  &:last-child {
    width: 34%;
    margin-left: auto;
  }
}

.page-footer__widget b {
  display: block;
  margin-bottom: 25px;

  color: $black;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.page-footer__widget button {
  position: relative;
  top: 8px;
  left: -6px;

  display: none;
  width: 16px;
  height: 16px;
  padding: 0;

  line-height: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 2px;

    background-color: #c4c4c4;

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}

.page-footer__widget ul {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.page-footer__widget li {
  display: block;
  width: 100%;
}

.page-footer__widget a {
  color: rgba($black, 0.5);
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.page-footer__widget-wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.page-footer__widget-wrapp--menu ul {
  width: 50%;
  margin-right: 12%;

  &:last-child {
    width: 35%;
    margin-right: 0;
  }
}

.page-footer__bottom {
  padding: 15px 0;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
}

.page-footer__bottom-container {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__copyright {
  font-weight: normal;

  &--top {
    display: none;
  }

  &--bottom {
    margin-right: 156px;
  }
}

.page-footer__rights {
  margin-right: 84px;

  font-weight: normal;
}

.page-footer__link {
  color: rgba($black, 0.5);
  text-decoration: none;

  &--dev {
    margin-left: auto;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@include to($breakpoint-desktop) {
  .page-footer__top {
    padding: 0;
  }

  .page-footer__top-container {
    padding: 0;
  }

  .page-footer__top-left {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 19px $offset-tablet 25px;

    border-bottom: 1px solid rgba(#626962, 0.2);
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    font-size: 13px;

    &--top {
      display: block;
    }

    &--bottom {
      display: none;
    }
  }

  .page-footer__top-right {
    width: 100%;
    margin: 0;
    padding: 40px $offset-tablet 35px;
  }

  .page-footer__widget {
    &:last-child {
      width: 48%;
    }
  }

  .page-footer__widget-wrapp--menu ul {
    width: 100%;
    margin: 0;
  }

  .page-footer__rights {
    display: none;
  }

  .page-footer__bottom {
    padding: 21px 0;
  }
}

@include to($breakpoint-tablet) {
  .page-footer__top {
    border: none;
  }

  .page-footer__top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 46px $offset-tablet 53px;
  }

  .page-footer__logo {
    margin-bottom: 27px;
  }

  .page-footer__copyright {
    margin-bottom: 37px;
  }

  .page-footer__top-right {
    padding: 0;
  }

  .page-footer__widget {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 29px 13px 27px;

    border-bottom: 1px solid rgba(#626962, 0.2);

    &:last-child {
      width: 100%;
      margin: 0;
    }
  }

  .page-footer__widget b {
    margin: 0;
  }

  .page-footer__widget button {
    display: block;
  }

  .page-footer__widget ul {
    width: 95%;

    &:last-child {
      width: 95%;
    }
  }

  .page-footer__widget-wrapp {
    display: none;
    margin-top: 36px;
  }

  .page-footer__widget--nojs .page-footer__widget-wrapp,
  .page-footer__widget--show .page-footer__widget-wrapp {
    display: block;
  }

  .page-footer__widget--show button {
    &::after {
      display: none;
    }
  }

  .page-footer__widget--nojs button {
    display: none;
  }

  .page-footer__link {
    display: block;
    width: 100%;
    margin: 0 0 20px;

    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-footer__bottom {
    padding: 29px 0;
  }
}
